@media (max-width: 414px)  /* media query for iphone 6/7/8 plus */
{
	.container {
    border: 11px solid #F3F3F3;
    width: 91%;
    margin: auto;
}

#heading {
    position: absolute;
    right: 26px;
    width: 308px;
    top: 120px;
}

#logo {
    position: relative;
    top: 26px;
    /* text-align: center; */
    left: 113px;
}

header {
    padding-bottom: 112px;
    border-bottom: 2px solid #F3F3F3;
    margin-bottom: 34px;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    
}	
#blog-image{
	display: block;
    margin: auto;
}

#middle-heading {
	width: 100%;
	padding-top: 0px;
}

.social {
    width: 90%;
   
}


}
