.container{
	border: 13px solid #F3F3F3;
	width: 65%;
	margin: auto;
}

.container1{
	width: 90%;
	margin: auto;
}

#logo{
	position: relative;
	top: 14px;
}

#heading{
	position: absolute;
	right: 281px;
}

header{
	padding-bottom: 44px;
	border-bottom: 2px solid #F3F3F3;
	margin-bottom: 92px;
}

#middle-heading{
	width: 30%;
	margin: auto;
	padding-top: 28px;
}

.para1{
	font-family: sans-serif;
	text-align: justify;
}

.grid-container {
	display: grid;
	grid-template-columns: 50% 50%;
	padding: 5px;
}

.grid-item{
	text-align: justify;
	
    padding: 11px;

}

#para{
	padding: 11px;
}
.social{
	width: 36%;
	margin: auto;
	text-align: center;
	padding: 44px 20px;
}

.social a{
	text-decoration: none;
}

.icon-spacing{
	display: inline-block;
	padding-left: 12px;
}

