*{
	box-sizing: border-box;
}

body{
	margin:0;
}

.banner{
	background-image: url("assets/banner.jpg");
	background-size: cover;
	height: 653px;
	position: relative;
	background-attachment: fixed;
}

.wrapper{
	width: 90%;
	margin: auto;
	position: relative;
}

header{
	border-bottom: 2px solid #fff;
	padding-top: 25px;
	padding-bottom: 25px;
	position: relative;
}

header a{
	text-decoration: none;
}

.color_theme{
	color: #fff;
	font-family: sans-serif;
	font-weight: bold;
}

.overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #000;   /*#474756*/
	opacity: 0.4;
}


/*---------------------dropdown menu---------------------*/

.dropdown{
	position: absolute;
	right: 0;
	top: 17px;
}

.dropdown_content a{
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 10px;
	background-color: #000;
	opacity: .8;
	padding: 12px 16px;
}

.dropdown_content{
	right: 3px;
    width: 110px;
    position: absolute;
    top: 28px;
    display: none;
}

.dropbtn{
	position: absolute;
	right: 0;
	background-color: transparent;
    border: none;
    padding: 0;
}

.dropbtn img{
    height: 32px;
    width: 32px;
}
.dropbtn:focus{
	outline: none;
}
.dropdown_content a:hover{
	background-color: grey;
	color: #000;
	font-weight: bold;
}

.dropdown:hover .dropdown_content{
	display: block;
}

/*nav bar for desktop view*/


nav a{
	text-decoration: none;
	font-weight: bold;
	font-size: 15px;
}

nav a:hover{
	text-decoration: underline;
}

nav{
		display: none;
	}
/*-------------------------*/

.banner_text{
	text-align: center;
	padding-top: 27px;
}

h1{
	font-size: 30px;
}

.banner_text ul{
	list-style: none;
	padding: 9px;
}

.banner_text ul li{
	padding-bottom: 35px;
}

.banner_text ul li i{
	color: #6CC090;
}

.banner_text ul li i:hover{
	color: #7CFC00;
}

.btn{
	height: 38px;
	background-color: transparent;
	border-radius: 20px;
	border: 3px solid;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 10px;
}

.btn_theme{
	width: 150px;
	color: #6CC090;
	border-color: #6CC090;
}

.btn_theme:hover{
	background-color: #6CC090;
	color: #fff;
}

/*-----------------card container-----------------*/

.card_container{
	text-align: center;
	padding-bottom: 14px;
}

.card{
	width: 100%;
	height: 400px;
	/*border:2px solid;*/
	display: inline-block;
	text-align: center;
	font-family: sans-serif;
	padding: 84px 30px;
}
.card img{
	border-radius: 76px;
}

.card_heading{
	font-weight: bold;
	font-size: 22px;
	color: #555555;
	padding: 15px;
}

.card_description{
	color: #9A9A9A;
	font-size: 15px;
	padding: 15px;
}

/*----------------footer section------------------*/

footer{
	background:#6CC090;
	position: relative;
	height: 567px;
}

h2{
	text-align: center;
	padding-top: 47px;
	padding-bottom: 27px;
}

input{
	display: block;
	width:100%;
	background:#6CC090;
	padding: 12px;
    border-radius: 7px;
    border: 1px solid #fff;
    background-color: transparent;
    margin-top: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}

.txt_inpt{
	margin-bottom: 30px;
}

textarea{
	width: 100%;
	border-radius: 7px;
	background-color: transparent;
	border: 1px solid #fff;
	margin-top: 10px;
	font-weight: bold;
    font-size: 15px;
    padding: 12px;
}

input::placeholder,textarea::placeholder{
	color: #fff;
}

input:focus,textarea:focus{
	border:2px solid #fff;
	outline: none;
}

.footer_btn_theme{
	width: 180px;
	color: #fff;
	border-color: #fff;
	margin:36px auto;
}

/*media query for medium size devies*/

@media (min-width: 480px){	

	h1{
		padding-top: 18px;
    	padding-bottom: 18px;
	}

	.banner{
		height: 472px;
	}

	.banner_text ul li {
	    display: inline-block;
		border-right: 1px solid #FFF;
		width: 30%; 
		padding-bottom: 0px;
		padding-left: 10px;
    	padding-right: 10px;	
	}

	.banner_text ul{
		padding-bottom: 40px;
	}

	.banner_text ul li:last-child{
		border-right: none;
	}

	.card_container{
		padding-bottom: 14px;
	}

	.card{
		width: 80%;
	}
}

/*media query for Desktop devices*/

@media (min-width: 768px){

	header{
		padding-top: 35px;
	    padding-bottom: 35px;
	}

	.dropdown{
		display: none;
	}
	nav{
		display: block;
	}

	nav{
		float: right;
	}

	nav a{
		padding-left: 24px;
	}

	h1 {
    	font-size: 46px;
    	padding-top: 22px;
    	padding-bottom: 22px;
	}

	.banner_text ul{
		padding-top: 10px;
		padding-bottom: 50px;
	}

	.banner_text ul li {
	    display: inline-block;
	    padding-right: 40px;
    	padding-left: 40px;
		border-right: 1px solid #FFF;
		padding-bottom: 0;
	}

	.banner_text ul li:last-child{
		border-right: none;
	}

	.heading{
		cursor: pointer;
		padding-bottom: 5px;
		padding-top: 5px;
	}

	.heading:hover{
		text-decoration: underline #fff;
	}

	.banner{
		height: 550px;
	}

	.card_container{
		padding-bottom: 14px;
	}

	.card{
		width: 35%;
	}

	.txt_inpt{
		display: inline-block;
		width:49%;	
	}

	input{
		width: 95%;
	}

	textarea {
    	width: 96%;
	}
}

